#bg{
    background-repeat: no-repeat;
    background-size: 1600px 800px;
    background-position: top;
    background-attachment: fixed;
}

.nav-item{
    color: black;
    font-size: 20px;
}
.btn{
    border-width: 7px;
    border-radius: 15px;
}
.button{
    margin-top: 350px;
    margin-left: 400px;
}

.text{
    font-size: 35px;
}
